{% extends 'base.html.twig' %}

{% block body %}

  {% for message in app.flashes('success') %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
  {% endfor %}

  <h2>The list</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>Nombre</td>
        <td>Descripcion</td>
        <td>Precio</td>
        <td>Cantidad</td>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td><a href="{{ path('item.delete', {id: item.id}) }}">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
